#container{
	/*background-color:blue; */
	background-color: white;
	width: 40%; /*largura*/
	height: 80%; /*altura*/
	margin: 1px auto 1px auto;
	border-color: black;
	border-style: solid;
	border-width: 3px;
	text-align:center;
}
#txt_btn{
	font-family: arial;
	font-size: 14px
	text-transform: uppercase
	font-weight: 700
	border: none;
	padding: 10px
	cursor: pointer
}
	.btn-green{
	background: green
}
	.btn-red{
	background: red
}